greeting: Hello TAP!

info:
  app:
    name: Payment Calculator

management:
  endpoint:
    health:
      show-details: always
    info:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: "*"
